<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesi&oacute;n</title>
    <link type="text/css" rel="stylesheet" href="../../bootswatch/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../style.css">
    <link type="text/css" rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="../../jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Begin Header -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:(0)">YoSiSe</a>
    </div>
</div>
<!-- End Header -->
<!-- Begin Body -->
<div class="login-container">
    <div class="well">
        <form class="form-horizontal">
            <fieldset>
                <legend>Iniciar Sesi&oacute;n</legend>
                <div class="form-group">
                    <label for="inputUsername" class="col-lg-2 control-label">Usuario</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Usuario">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Contrase&ncaron;a</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Contrase&ncaron;a">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <p><a href="#" class="btn btn-primary login">Entrar</a></p>
                        <p><a href="#" class="btn btn-info facebook">Facebook</a></p>
                        <p><a href="#" class="btn btn-danger google-plus">Google +</a></p>
                        <p><a href="#" class="btn btn-success">Registrarse</a></p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- End Body -->
</body>

</html>