.community-banner {
}
.community-action-buttons {
    position: absolute;
    right: 30px;
    bottom: 15px;
}
.question-item, .answer-item, .answer-textbox{
    padding: 25px 35px 25px 35px;
}
.answer-item-vote, .question-item-vote {
    text-align: center;
}
.question-item-share-buttons .answer-item-share-buttons {
    float: left;
}
.question-item-answer-button {
    text-align: right;
}
.social-icon-little {
    width: 24px;
    margin-top: 4px;
}
.social-icons-share-text {
    float: left;
    width: 70px;
}
.vote-count {
    margin-top: 0;
    margin-bottom: -10px;
}
.community-member-icon {
    width: 45px;
    float: left;
    padding: 2px;
}
.question-page .social-icon-little {
    width: 30px;
}
.answer-member-icon {
    width: 65px;
    float: left;
    padding: 7px;
}
.question-action-buttons {
    text-align: right;
}
.question-send-answer {
    text-align: right;
    padding-right: 30px;
}
.question-item-content {
    margin-bottom: 50px;
}
.question-answer-textbox {
    padding: 25px;
}
.answer-textbox, .question-textbox {
    resize: vertical;
}
.question-followers, .question-similar-questions {
    margin-bottom: 50px;
}