<!DOCTYPE html>
<html>
<head>
    <title>Pregunta</title>
    <link type="text/css" rel="stylesheet" href="../../bootswatch/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../style.css">
    <link type="text/css" rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="../../jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Begin Header -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:(0)">YoSiSe</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Mis Comunidades</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mario Bross<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- End Header -->

<div class="wrapper" style="margin: 20px;">

<!-- Begin Question -->
    <div class="row">
<div class="col-md-12 question-page">
    <div class="question-item-content col-xs-10">
        <h1 class="question-item-title"><i class="fa fa-graduation-cap"></i>&iquest;En qu&eacute; consiste la carrera de Inform&aacute;tica ?</h1>
        <h4 class="question-item-asker"><small>Preguntado por <a href="javascript:(0)">Jhonatan Castro</a> el 2 de noviembre de 2014.</small></h4>
        <p class="question-item-description">
            Hago esta pregunta porque realmente no estoy muy seguro de estudiar esta carrera, es algo que me gusta pero no se si economicamente es viable.
        </p>
        <div class="question-item-action-buttons row">
            <div class="question-item-share-buttons col-xs-8">
                <h5 class="social-icons-share-text">Compartir:</h5>
                <img class="social-icon-little" src="images/social-linkedin.png">
                <img class="social-icon-little" src="images/social-googleplus.png">
                <img class="social-icon-little" src="images/social-twitter.png">
                <img class="social-icon-little" src="images/social-facebook.png">
            </div>
            <div class="question-action-buttons col-xs-4">
                <a href="javascript:(0)" class="btn btn-success">Seguir Pregunta</a>
                <a href="#question-answer-textbox" class="btn btn-primary">Responder</a>
            </div>
        </div>
    </div>
    <div class="question-item-vote col-xs-2">
        <div class="row"><a href="javascript:(0)"> <i class="fa fa-caret-up fa-5x"></i> </a></div>
        <div class="row"><h3 class="vote-count">77</h3></div>
        <div class="row"><a href="javascript:(0)"> <i class="fa fa-caret-down fa-5x"></i> </a></div>
    </div>
</div>
    </div>
<!-- End Question -->

<div class="row community-content">

<!-- Begin Questions Container -->
    <div class="col-md-8 answers-container">
        <div class="answer-item row">
            <div class="answer-item-content col-xs-10">
                <img class="answer-member-icon" src="images/members/verok.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Veronica Aruquipa</a> <i class="fa fa-briefcase"></i></h4>
                <h4><small>(QA Software Engineer en Colosa)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
                <div class="answer-item-action-buttons row">
                    <div class="answer-item-share-buttons col-xs-8">
                        <h5 class="social-icons-share-text">Compartir:</h5>
                        <img class="social-icon-little" src="images/social-linkedin.png">
                        <img class="social-icon-little" src="images/social-googleplus.png">
                        <img class="social-icon-little" src="images/social-twitter.png">
                        <img class="social-icon-little" src="images/social-facebook.png">
                    </div>
                </div>
            </div>
            <div class="answer-item-vote col-xs-2">
                <div class="row"><a> <i class="fa fa-caret-up fa-5x"></i> </a></div>
                <div class="row"><h3 class="vote-count">1</h3></div>
                <div class="row"><a> <i class="fa fa-caret-down fa-5x"></i> </a></div>
            </div>
        </div>
        <div class="answer-item row">
            <div class="answer-item-content col-xs-10">
                <img class="answer-member-icon" src="images/members/jhtan.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Jhonatan Castro</a> <i class="fa fa-graduation-cap"></i></h4>
                <h4><small>(Professional coffee preparer.)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
                <div class="answer-item-action-buttons row">
                    <div class="answer-item-share-buttons col-xs-8">
                        <h5 class="social-icons-share-text">Compartir:</h5>
                        <img class="social-icon-little" src="images/social-linkedin.png">
                        <img class="social-icon-little" src="images/social-googleplus.png">
                        <img class="social-icon-little" src="images/social-twitter.png">
                        <img class="social-icon-little" src="images/social-facebook.png">
                    </div>
                </div>
            </div>
            <div class="answer-item-vote col-xs-2">
                <div class="row"><a> <i class="fa fa-caret-up fa-5x"></i> </a></div>
                <div class="row"><h3 class="vote-count">-11</h3></div>
                <div class="row"><a> <i class="fa fa-caret-down fa-5x"></i> </a></div>
            </div>
        </div>
        <div class="answer-item row">
            <div class="answer-item-content col-xs-10">
                <img class="answer-member-icon" src="images/members/sergey.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Sergio Guillen</a> <i class="fa fa-book"></i></h4>
                <h4><small>(Bastardización de muchas cosas que ya existen :3)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
                <div class="answer-item-action-buttons row">
                    <div class="answer-item-share-buttons col-xs-8">
                        <h5 class="social-icons-share-text">Compartir:</h5>
                        <img class="social-icon-little" src="images/social-linkedin.png">
                        <img class="social-icon-little" src="images/social-googleplus.png">
                        <img class="social-icon-little" src="images/social-twitter.png">
                        <img class="social-icon-little" src="images/social-facebook.png">
                    </div>
                </div>
            </div>
            <div class="answer-item-vote col-xs-2">
                <div class="row"><a> <i class="fa fa-caret-up fa-5x"></i> </a></div>
                <div class="row"><h3 class="vote-count">1337</h3></div>
                <div class="row"><a> <i class="fa fa-caret-down fa-5x"></i> </a></div>
            </div>
        </div>
        <div class="answer-item row">
            <div class="answer-item-content col-xs-10">
                <img class="answer-member-icon" src="images/members/verok.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Veronica Aruquipa</a> <i class="fa fa-briefcase"></i></h4>
                <h4><small>(QA Software Engineer en Colosa)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
                <div class="answer-item-action-buttons row">
                    <div class="answer-item-share-buttons col-xs-8">
                        <h5 class="social-icons-share-text">Compartir:</h5>
                        <img class="social-icon-little" src="images/social-linkedin.png">
                        <img class="social-icon-little" src="images/social-googleplus.png">
                        <img class="social-icon-little" src="images/social-twitter.png">
                        <img class="social-icon-little" src="images/social-facebook.png">
                    </div>
                </div>
            </div>
            <div class="answer-item-vote col-xs-2">
                <div class="row"><a> <i class="fa fa-caret-up fa-5x"></i> </a></div>
                <div class="row"><h3 class="vote-count">1</h3></div>
                <div class="row"><a> <i class="fa fa-caret-down fa-5x"></i> </a></div>
            </div>
        </div>
        <div class="answer-item row">
            <div class="answer-item-content col-xs-10">
                <img class="answer-member-icon" src="images/members/jhtan.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Jhonatan Castro</a> <i class="fa fa-graduation-cap"></i></h4>
                <h4><small>(Professional coffee preparer.)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
                <div class="answer-item-action-buttons row">
                    <div class="answer-item-share-buttons col-xs-8">
                        <h5 class="social-icons-share-text">Compartir:</h5>
                        <img class="social-icon-little" src="images/social-linkedin.png">
                        <img class="social-icon-little" src="images/social-googleplus.png">
                        <img class="social-icon-little" src="images/social-twitter.png">
                        <img class="social-icon-little" src="images/social-facebook.png">
                    </div>
                </div>
            </div>
            <div class="answer-item-vote col-xs-2">
                <div class="row"><a> <i class="fa fa-caret-up fa-5x"></i> </a></div>
                <div class="row"><h3 class="vote-count">-11</h3></div>
                <div class="row"><a> <i class="fa fa-caret-down fa-5x"></i> </a></div>
            </div>
        </div>
        <div class="answer-item row">
            <div class="answer-item-content col-xs-10">
                <img class="answer-member-icon" src="images/members/sergey.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Sergio Guillen</a> <i class="fa fa-book"></i></h4>
                <h4><small>(Bastardización de muchas cosas que ya existen :3)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
                <div class="answer-item-action-buttons row">
                    <div class="answer-item-share-buttons col-xs-8">
                        <h5 class="social-icons-share-text">Compartir:</h5>
                        <img class="social-icon-little" src="images/social-linkedin.png">
                        <img class="social-icon-little" src="images/social-googleplus.png">
                        <img class="social-icon-little" src="images/social-twitter.png">
                        <img class="social-icon-little" src="images/social-facebook.png">
                    </div>
                </div>
            </div>
            <div class="answer-item-vote col-xs-2">
                <div class="row"><a> <i class="fa fa-caret-up fa-5x"></i> </a></div>
                <div class="row"><h3 class="vote-count">1337</h3></div>
                <div class="row"><a> <i class="fa fa-caret-down fa-5x"></i> </a></div>
            </div>
        </div>
        <div class="question-answer-textbox">
            <textarea class="answer-textbox form-control" rows="5"></textarea>
        </div>
        <div class="question-send-answer" id="question-answer-textbox">
            <a href="javascript:(0)" class="btn btn-info">Enviar respuesta</a>
        </div>
    </div>
<!-- End Questions Container -->

<!-- Begin Community Left column -->
    <div class="col-md-4">
        <div class="question-followers row">
            <div class="question-followers-list">
                <h4>Seguidores de la pregunta (25)</h4>
                <img class="community-member-icon" src="images/members/jhtan.png">
                <img class="community-member-icon" src="images/members/sergey.png">
                <img class="community-member-icon" src="images/members/verok.png">
                <img class="community-member-icon" src="images/members/jhtan.png">
                <img class="community-member-icon" src="images/members/sergey.png">
                <img class="community-member-icon" src="images/members/verok.png">
                <img class="community-member-icon" src="images/members/jhtan.png">
                <img class="community-member-icon" src="images/members/sergey.png">
                <img class="community-member-icon" src="images/members/verok.png">
                <img class="community-member-icon" src="images/members/jhtan.png">
                <img class="community-member-icon" src="images/members/sergey.png">
                <img class="community-member-icon" src="images/members/verok.png">
                <img class="community-member-icon" src="images/members/jhtan.png">
                <img class="community-member-icon" src="images/members/sergey.png">
                <img class="community-member-icon" src="images/members/verok.png">
                <img class="community-member-icon" src="images/members/jhtan.png">
                <img class="community-member-icon" src="images/members/sergey.png">
                <img class="community-member-icon" src="images/members/verok.png">
                <img class="community-member-icon" src="images/members/jhtan.png">
                <img class="community-member-icon" src="images/members/sergey.png">
                <img class="community-member-icon" src="images/members/verok.png">
            </div>
        </div>
        <div class="question-similar-questions row">
            <h4>Preguntas similares</h4>
            <div class="similar-question-item">
                <a href="javascript:(0)"><h5>&iquest;En qu&eacute; consiste la carrera de Ingienear&iacute;a de Sistemas?</h5></a>
            </div>
            <div class="similar-question-item">
                <a href="javascript:(0)"><h5>&iquest;Qu&eacute; cosas nuevas aprender&eacute; estudiando Inform&aacute;tica?</h5></a>
            </div>
        </div>
    </div>
<!-- End Community Left column -->

</div>

</div>

</body>

</html>