<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuario</title>
    <link type="text/css" rel="stylesheet" href="../../bootswatch/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../style.css">
    <link type="text/css" rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="../../jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Begin Header -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:(0)">YoSiSe</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Mis Comunidades</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mario Bross<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- End Header -->

<!-- Begin Body -->
<div class="well profile">
    <div class="col-sm-12">
        <div class="col-xs-12 col-sm-4 text-center">
            <figure>
                <img src="../../images/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
            </figure>
        </div>
        <div class="col-xs-12 col-sm-8">
            <h2>Nicole Pearson</h2>
            <p><strong style="position: inherit">Ocupación: </strong> Web Designer / UI. <i class="fa fa-briefcase"></i></p>
            <p><strong>Aficiones: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
            <p><strong>Habilidades: </strong>
                <span class="tags">html5</span>
                <span class="tags">css3</span>
                <span class="tags">jquery</span>
                <span class="tags">bootstrap3</span>
            </p>
        </div>
    </div>
    <div class="interested-tags">
        <p><strong>Intereses: </strong></p>
        <span class="label label-primary">Python</span>
        <span class="label label-primary">Ruby</span>
        <span class="label label-primary">QA</span>
        <span class="label label-primary">Development</span>
        <span class="label label-primary">Internet of things</span>
        <span class="label label-primary">Projects</span>
    </div>
</div>
<!-- Begin Q&A list -->
<div>
    <div class="col-md-12 question-answer-container">
        <div class="well row">
            <h3 class="question-item-title"><i class="fa fa-graduation-cap"></i>&iquest;En qu&eacute; consiste la carrera de Inform&aacute;tica ?</h3>
            <h4 class="question-item-asker"><small>Preguntado por <a href="javascript:(0)">Jhonatan Castro</a> el 2 de noviembre de 2014.</small></h4>
            <p class="question-item-description">
                Hago esta pregunta porque realmente no estoy muy seguro de estudiar esta carrera, es algo que me gusta pero no se si economicamente es viable.
            </p>
        </div>
        <div class="well row">
            <h3 class="question-item-title"><i class="fa fa-graduation-cap"></i>&iquest;En qu&eacute; consiste la carrera de Electr&oacute;nica ?</h3>
            <h4 class="question-item-asker"><small>Preguntado por <a href="javascript:(0)">Sergio Guillen</a> el 12 de noviembre de 2014.</small></h4>
            <p class="question-item-description">
                Hago esta pregunta porque realmente no estoy muy seguro de estudiar esta carrera, es algo que me gusta pero no se si economicamente es viable.
            </p>
        </div>
        <div class="well row">
            <h3 class="question-item-title"><i class="fa fa-graduation-cap"></i>&iquest;En qu&eacute; consiste la carrera de Matem&aacute;ticas ?</h3>
            <h4 class="question-item-asker"><small>Preguntado por <a href="javascript:(0)">Arnold Paye</a> el 22 de noviembre de 2014.</small></h4>
            <p class="question-item-description">
                Hago esta pregunta porque realmente no estoy muy seguro de estudiar esta carrera, es algo que me gusta pero no se si economicamente es viable.
            </p>
        </div>
    </div>
</div>

<div class="profile community-content">

    <!-- Begin Questions Container -->
    <div class="col-md-12 question-answer-container">
        <div class="well row">
            <div class="answer-item-content col-xs-12">
                <img class="answer-member-icon" src="images/members/verok.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Veronica Aruquipa</a> <i class="fa fa-briefcase"></i></h4>
                <h4><small>(QA Software Engineer en Colosa)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
            </div>
        </div>
        <div class="well row">
            <div class="answer-item-content col-xs-12">
                <img class="answer-member-icon" src="images/members/jhtan.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Jhonatan Castro</a> <i class="fa fa-graduation-cap"></i></h4>
                <h4><small>(Professional coffee preparer.)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
            </div>
        </div>
        <div class="well row">
            <div class="answer-item-content col-xs-12">
                <img class="answer-member-icon" src="images/members/sergey.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Sergio Guillen</a> <i class="fa fa-book"></i></h4>
                <h4><small>(Bastardización de muchas cosas que ya existen :3)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
            </div>
        </div>
        <div class="well row">
            <div class="answer-item-content col-xs-12">
                <img class="answer-member-icon" src="images/members/verok.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Veronica Aruquipa</a> <i class="fa fa-briefcase"></i></h4>
                <h4><small>(QA Software Engineer en Colosa)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
            </div>
        </div>
        <div class="well row">
            <div class="answer-item-content col-xs-12">
                <img class="answer-member-icon" src="images/members/jhtan.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Jhonatan Castro</a> <i class="fa fa-graduation-cap"></i></h4>
                <h4><small>(Professional coffee preparer.)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
            </div>
        </div>
        <div class="well row">
            <div class="answer-item-content col-xs-12">
                <img class="answer-member-icon" src="images/members/sergey.png">
                <h4 class="answer-item-title"><a href="javascript:void(0)">Sergio Guillen</a> <i class="fa fa-book"></i></h4>
                <h4><small>(Bastardización de muchas cosas que ya existen :3)</small></h4>
                <p class="question-item-description">
                    En esta carrera puedes desarrolar software, hacer el control de calidad o trabajar como IT.
                </p>
            </div>
        </div>
    </div>
    <!-- End Questions Container -->
</div>
<!-- End Q&A list -->
<!-- End Body -->

</body>

</html>