<!DOCTYPE html>
<html>
<head>
    <title>Comunidad</title>
    <link type="text/css" rel="stylesheet" href="../../bootswatch/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="style.css">
    <script type="text/javascript" src="../../jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Begin Header -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:(0)">YoSiSe</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Mis Comunidades</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mario Bross<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- End Header -->

<!-- Begin Banner -->
<div class="col-md-12">
    <h1 class="community-title">
        Carrera de Inform&aacute;tica
        <br>
        Universidad Mayor de San Andr&eacute;s
    </h1>

    <div class="community-banner">
        <img src="banner.jpg" class="img-responsive">

        <div class="community-action-buttons">
            <a href="#" class="btn btn-primary follow-btn">Seguir</a>
            <a href="#" class="btn btn-success ask-btn">Preguntar</a>
        </div>
    </div>
</div>
<!-- End Banner -->

<div class="community-content">

<!-- Begin Questions Container -->
    <div class="col-md-8 question-container" style="background-color: blue;">
        <div clas="question-item">
            
        </div>
    </div>
<!-- End Questions Container -->

<!-- Begin Community Left column -->
    <div class="col-md-4" style="background-color: red;">
        :P
    </div>
<!-- End Community Left column -->

</div>

</body>

</html>