<!DOCTYPE html>
<html>
<head>
    <title>Comunidad</title>
    <link type="text/css" rel="stylesheet" href="../../bootswatch/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../style.css">
    <link type="text/css" rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="../../jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Begin Header -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:(0)">YoSiSe</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Mis Comunidades</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mario Bross<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- End Header -->

<div class="wrapper" style="margin: 20px;">

<!-- Begin Banner -->
    <div class="row">
<div class="col-md-12">
    <h1 class="community-title">
        Carrera de Inform&aacute;tica
        <br>
        Universidad Mayor de San Andr&eacute;s
    </h1>

    <div class="community-banner">
        <img src="images/banner.jpg" class="img-responsive">

        <div class="community-action-buttons">
            <a href="#" class="btn btn-primary follow-btn">Seguir</a>
            <a href="#" class="btn btn-success ask-btn">Preguntar</a>
        </div>
    </div>
</div>
    </div>
<!-- End Banner -->

<div class="row community-content">

<!-- Begin Questions Container -->
    <div class="col-md-8 question-container">
        <div class="question-item row">
            <div class="question-item-content col-xs-10">
                <h3 class="question-item-title"><i class="fa fa-graduation-cap"></i>&iquest;Se puede ganar dinero con la profesi&oacute;n de inform&aacute;tico?</h3>
                <h4 class="question-item-asker"><small>Preguntado por <a href="javascript:(0)">Jhonatan Castro</a> el 2 de noviembre de 2014.</small></h4>
                <p class="question-item-description">
                    Hago esta pregunta porque realmente no estoy muy seguro de estudiar esta carrera, es algo que me gusta pero no se si economicamente es viable.
                </p>
                <div class="question-item-action-buttons row">
                    <div class="question-item-share-buttons col-xs-8">
                        <h5 class="social-icons-share-text">Compartir:</h5>
                        <img class="social-icon-little" src="images/social-linkedin.png">
                        <img class="social-icon-little" src="images/social-googleplus.png">
                        <img class="social-icon-little" src="images/social-twitter.png">
                        <img class="social-icon-little" src="images/social-facebook.png">
                    </div>
                    <div class="question-item-answer-button col-xs-4"><a href="javascript:(0)" class="btn btn-primary btn-sm">Responder</a></div>
                </div>
            </div>
            <div class="question-item-vote col-xs-2">
                <div class="row"><a> <i class="fa fa-caret-up fa-5x"></i> </a></div>
                <div class="row"><h3 class="vote-count">77</h3></div>
                <div class="row"><a> <i class="fa fa-caret-down fa-5x"></i> </a></div>
            </div>
        </div>
        <div class="question-item row">
            <div class="question-item-content col-xs-10">
                <h3 class="question-item-title"><i class="fa fa-book"></i>&iquest;Se puede ganar dinero con la profesi&oacute;n de inform&aacute;tico?</h3>
                <h4 class="question-item-asker"><small>Preguntado por <a href="javascript:(0)">Sergio Guillen</a> el 2 de noviembre de 2014.</small></h4>
                <p class="question-item-description">
                    Hago esta pregunta porque realmente no estoy muy seguro de estudiar esta carrera, es algo que me gusta pero no se si economicamente es viable.
                </p>
                <div class="question-item-action-buttons row">
                    <div class="question-item-share-buttons col-xs-8">
                        <h5 class="social-icons-share-text">Compartir:</h5>
                        <img class="social-icon-little" src="images/social-linkedin.png">
                        <img class="social-icon-little" src="images/social-googleplus.png">
                        <img class="social-icon-little" src="images/social-twitter.png">
                        <img class="social-icon-little" src="images/social-facebook.png">
                    </div>
                    <div class="question-item-answer-button col-xs-4"><a href="javascript:(0)" class="btn btn-primary btn-sm">Responder</a></div>
                </div>
            </div>
            <div class="question-item-vote col-xs-2">
                <div class="row"><a> <i class="fa fa-caret-up fa-5x"></i> </a></div>
                <div class="row"><h3 class="vote-count">0</h3></div>
                <div class="row"><a> <i class="fa fa-caret-down fa-5x"></i> </a></div>
            </div>
        </div>
        <div class="question-item row">
            <div class="question-item-content col-xs-10">
                <h3 class="question-item-title"><i class="fa fa-briefcase"></i>&iquest;Se puede ganar dinero con la profesi&oacute;n de inform&aacute;tico?</h3>
                <h4 class="question-item-asker"><small>Preguntado por <a href="javascript:(0)">Veronica Aruquipa</a> el 2 de noviembre de 2014.</small></h4>
                <p class="question-item-description">
                    Hago esta pregunta porque realmente no estoy muy seguro de estudiar esta carrera, es algo que me gusta pero no se si economicamente es viable.
                </p>
                <div class="question-item-action-buttons row">
                    <div class="question-item-share-buttons col-xs-8">
                        <h5 class="social-icons-share-text">Compartir:</h5>
                        <img class="social-icon-little" src="images/social-linkedin.png">
                        <img class="social-icon-little" src="images/social-googleplus.png">
                        <img class="social-icon-little" src="images/social-twitter.png">
                        <img class="social-icon-little" src="images/social-facebook.png">
                    </div>
                    <div class="question-item-answer-button col-xs-4"><a href="javascript:(0)" class="btn btn-primary btn-sm">Responder</a></div>
                </div>
            </div>
            <div class="question-item-vote col-xs-2">
                <div class="row"><a> <i class="fa fa-caret-up fa-5x"></i> </a></div>
                <div class="row"><h3 class="vote-count">234</h3></div>
                <div class="row"><a> <i class="fa fa-caret-down fa-5x"></i> </a></div>
            </div>
        </div>
    </div>
<!-- End Questions Container -->

<!-- Begin Community Left column -->
    <div class="col-md-4">
        <h4>Miembros (25)</h4>
        <div class="community-members-list">
            <img class="community-member-icon" src="images/members/jhtan.png">
            <img class="community-member-icon" src="images/members/sergey.png">
            <img class="community-member-icon" src="images/members/verok.png">
            <img class="community-member-icon" src="images/members/jhtan.png">
            <img class="community-member-icon" src="images/members/sergey.png">
            <img class="community-member-icon" src="images/members/verok.png">
            <img class="community-member-icon" src="images/members/jhtan.png">
            <img class="community-member-icon" src="images/members/sergey.png">
            <img class="community-member-icon" src="images/members/verok.png">
            <img class="community-member-icon" src="images/members/jhtan.png">
            <img class="community-member-icon" src="images/members/sergey.png">
            <img class="community-member-icon" src="images/members/verok.png">
            <img class="community-member-icon" src="images/members/jhtan.png">
            <img class="community-member-icon" src="images/members/sergey.png">
            <img class="community-member-icon" src="images/members/verok.png">
            <img class="community-member-icon" src="images/members/jhtan.png">
            <img class="community-member-icon" src="images/members/sergey.png">
            <img class="community-member-icon" src="images/members/verok.png">
            <img class="community-member-icon" src="images/members/jhtan.png">
            <img class="community-member-icon" src="images/members/sergey.png">
            <img class="community-member-icon" src="images/members/verok.png">
        </div>
    </div>
<!-- End Community Left column -->

</div>

</div>

</body>

</html>